In [90]:
import pandas as pd
import json

In [ ]:
df = pd.read_json("/Users/ryo/Documents/rec.json", lines=True)

In [95]:
df.iloc[-1]["counterHistory"]

,_id,dateStart,dateEnd,areas,videoResolution,filename,counterSummary,trackerSummary,counterHistory
0,{'$oid': '60b8a307dcf84e0062d79f5c'},{'$date': '2021-06-03T09:38:15.65Z'},{'$date': '2021-06-03T11:23:43.096Z'},{},None,,{},{'totalItemsTracked': 0},NaN
1,{'$oid': '60b8bbbfdcf84e0062d94147'},{'$date': '2021-06-03T11:23:43.204Z'},{'$date': '2021-06-03T11:24:43.35Z'},{},"{'w': 640, 'h': 360}",,{},{'totalItemsTracked': 0},NaN
2,{'$oid': '60b8bbfbdcf84e0062d94560'},{'$date': '2021-06-03T11:24:43.373Z'},{'$date': '2021-06-03T11:25:43.487Z'},{},"{'w': 640, 'h': 360}",,{},{'totalItemsTracked': 0},NaN
3,{'$oid': '60b8bc37dcf84e0062d9497d'},{'$date': '2021-06-03T11:25:43.541Z'},{'$date': '2021-06-03T11:26:43.585Z'},{},"{'w': 640, 'h': 360}",,{},{'totalItemsTracked': 0},NaN
4,{'$oid': '60b8bc73dcf84e0062d94d98'},{'$date': '2021-06-03T11:26:43.696Z'},{'$date': '2021-06-03T11:27:43.811Z'},{},"{'w': 640, 'h': 360}",,{},{'totalItemsTracked': 0},NaN
...,...,...,...,...,...,...,...,...,...
48280,{'$oid': '618e10f621ddc60060311c04'},{'$date': '2021-11-12T07:00:06.663Z'},{'$date': '2021-11-12T08:00:06.895Z'},{'c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3': {'col...,"{'w': 640, 'h': 480}",,{'6310ae42-644a-4174-98bf-befba26e8916': {'_to...,{'totalItemsTracked': 7461},"[{'frameId': 3782398, 'timestamp': {'$date': '..."
48281,{'$oid': '618e1f0721ddc60060321f67'},{'$date': '2021-11-12T08:00:07.05Z'},{'$date': '2021-11-12T09:00:06.45Z'},{'c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3': {'col...,"{'w': 640, 'h': 480}",,{'6310ae42-644a-4174-98bf-befba26e8916': {'_to...,{'totalItemsTracked': 6513},"[{'frameId': 3816900, 'timestamp': {'$date': '..."
48282,{'$oid': '618e2d1621ddc6006033170c'},{'$date': '2021-11-12T09:00:06.555Z'},{'$date': '2021-11-12T10:00:07.32Z'},{'c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3': {'col...,"{'w': 640, 'h': 480}",,{'6310ae42-644a-4174-98bf-befba26e8916': {'_to...,{'totalItemsTracked': 5180},"[{'frameId': 3852376, 'timestamp': {'$date': '..."
48283,{'$oid': '618e3b2721ddc60060340e33'},{'$date': '2021-11-12T10:00:07.388Z'},{'$date': '2021-11-12T11:00:06.726Z'},{'c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3': {'col...,"{'w': 640, 'h': 480}",,{'6310ae42-644a-4174-98bf-befba26e8916': {'_to...,{'totalItemsTracked': 3550},"[{'frameId': 3887093, 'timestamp': {'$date': '..."
48284,{'$oid': '618e493621ddc6006035022c'},{'$date': '2021-11-12T11:00:06.817Z'},{'$date': '2021-11-12T11:50:04.009Z'},{'c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3': {'col...,"{'w': 640, 'h': 480}",,{'6310ae42-644a-4174-98bf-befba26e8916': {'_to...,{'totalItemsTracked': 2707},"[{'frameId': 3922450, 'timestamp': {'$date': '..."