In [94]:
import pandas as pd
from jp_holiday import jp_holiday

In [95]:
url = "https://publickbacketmdg.s3.ap-northeast-1.amazonaws.com/day_grouped_by_%E6%9C%9B%E9%81%A0.csv"
area = "juroku_zoom"


df = pd.read_csv(url)
df.date = pd.to_datetime(df.date)

In [96]:
df

,idx,name,area,countingDirection,timestamp,day,date
0,0,person,juroku_zoom,leftright_topbottom,34,34,2021-06-27 14:00:00
1,1,person,juroku_zoom,rightleft_bottomtop,56,56,2021-06-27 14:00:00
2,2,bus,juroku_zoom,leftright_topbottom,1,1,2021-06-27 15:00:00
3,3,person,juroku_zoom,leftright_topbottom,129,129,2021-06-27 15:00:00
4,4,person,juroku_zoom,rightleft_bottomtop,105,105,2021-06-27 15:00:00
...,...,...,...,...,...,...,...
5723,5723,person,juroku_zoom,leftright_topbottom,3,3,2021-09-02 19:00:00
5724,5724,person,juroku_zoom,rightleft_bottomtop,1,1,2021-09-02 19:00:00
5725,5725,car,juroku_zoom,rightleft_bottomtop,2,2,2021-09-02 21:00:00
5726,5726,person,juroku_zoom,rightleft_bottomtop,1,1,2021-09-02 21:00:00
5727,5727,car,juroku_zoom,rightleft_bottomtop,1,1,2021-09-02 22:00:00

In [97]:
df_with_holiday = jp_holiday.is_holiday(df, "date", "is_holiday")

In [98]:
df = df_with_holiday
df

,idx,name,area,countingDirection,timestamp,day,date,is_holiday
0,0,person,juroku_zoom,leftright_topbottom,34,34,2021-06-27 14:00:00,True
1,1,person,juroku_zoom,rightleft_bottomtop,56,56,2021-06-27 14:00:00,True
2,2,bus,juroku_zoom,leftright_topbottom,1,1,2021-06-27 15:00:00,True
3,3,person,juroku_zoom,leftright_topbottom,129,129,2021-06-27 15:00:00,True
4,4,person,juroku_zoom,rightleft_bottomtop,105,105,2021-06-27 15:00:00,True
...,...,...,...,...,...,...,...,...
5723,5723,person,juroku_zoom,leftright_topbottom,3,3,2021-09-02 19:00:00,False
5724,5724,person,juroku_zoom,rightleft_bottomtop,1,1,2021-09-02 19:00:00,False
5725,5725,car,juroku_zoom,rightleft_bottomtop,2,2,2021-09-02 21:00:00,False
5726,5726,person,juroku_zoom,rightleft_bottomtop,1,1,2021-09-02 21:00:00,False
5727,5727,car,juroku_zoom,rightleft_bottomtop,1,1,2021-09-02 22:00:00,False

In [99]:
dim="D"
df = df.set_index("date")
df = df.resample(dim).sum()

In [100]:
df.is_holiday = df.is_holiday.apply(lambda x: x>0)

In [103]:
df["is_edge_holiday"] = 0
for idx in range(len(df)-1):
    row = df.iloc[idx]
    next_row = df.iloc[idx+1]
    if row.is_holiday == 0 and next_row.is_holiday == 1:
        print("111111111")
        df.iloc[idx+1, -1]= 1
        
for idx in range(len(df)-1):
    row = df.iloc[idx]
    next_row = df.iloc[idx+1]
    if row.is_holiday == 1 and next_row.is_holiday == 0:
        print("111111111")
        df.iloc[idx, -1]= 1

111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111
111111111

In [106]:
df.head(40)

               idx  timestamp    day  is_holiday  is_edge_holiday
date
2021-06-27     300        611    611        True                1
2021-06-28    6255       2467   2467       False                0
2021-06-29   13948       1594   1594       False                0
2021-06-30   22568       1070   1070       False                0
2021-07-01   30465       1721   1721       False                0
2021-07-02   36210       2109   2109       False                0
2021-07-03   40680       3019   3019        True                1
2021-07-04   39610       2442   2442        True                1
2021-07-05   51129       1379   1379       False                0
2021-07-06   57986        874    874       False                0
2021-07-07   64227        977    977       False                0
2021-07-08   78892       2059   2059       False                0
2021-07-09   82530       3138   3138       False                0
2021-07-10   88478       3110   3110        True                1
2021-07-11   91800       3471   3471        True                1
2021-07-12   95667       1669   1669       False                0
2021-07-13  120658       1756   1756       False                0
2021-07-14  124778       1930   1930       False                0
2021-07-15  131164       1663   1663       False                0
2021-07-16  156816       1986   1986       False                0
2021-07-17  157967       4349   4349        True                1
2021-07-18  155892       4857   4857        True                1
2021-07-19  184635       2011   2011       False                0
2021-07-20  186390       1696   1696       False                0
2021-07-21  189106       2245   2245       False                0
2021-07-22  204155       7751   7751        True                1
2021-07-23  204022      10325  10325        True                0
2021-07-24  217062       8930   8930        True                0
2021-07-25  191180       6232   6232        True                1
2021-07-26  235611       3744   3744       False                0
2021-07-27  236509       2564   2564       False                0
2021-07-28  258480       2290   2290       False                0
2021-07-29  253526       2188   2188       False                0
2021-07-30  282289       3159   3159       False                0
2021-07-31  258651       5142   5142        True                1
2021-08-01  272429       5341   5341        True                1
2021-08-02  296335       3467   3467       False                0
2021-08-03  282141       2999   2999       False                0
2021-08-04  330264       2575   2575       False                0
2021-08-05  305270       2820   2820       False                0