In [1]:
import os
import pandas as pd
from glob import glob
from tqdm import tqdm

In [2]:
save_dir = "/Users/ryo/Documents/Lab/Jetson/jetson_csv/9-20/"
folder = "コンベンション交差点"

In [3]:
csvs = glob(f"{save_dir}/{folder}/extraction/*.csv")

In [4]:
csvs.sort()

In [5]:
df = pd.concat([pd.read_csv(csv) for csv in tqdm(csvs)])

100%|██████████| 66181/66181 [00:56<00:00, 1166.32it/s]

In [6]:
df = df.drop(columns=["Unnamed: 0", "frameId", "id", "bearing", "angleWithCountingLine"], axis=1)

In [7]:
df["day"] = df["timestamp"].apply(lambda x: str(x)[:11])

In [8]:
df.to_csv(f"{save_dir}/{folder}.csv")

In [9]:
df

,timestamp,area,name,countingDirection,day
0,2021-06-08 01:22:49.213,6f5ffc72-fcd6-488c-b070-868ea9dedc62,person,rightleft_bottomtop,2021-06-08
0,2021-06-08 01:23:15.969,6f5ffc72-fcd6-488c-b070-868ea9dedc62,person,leftright_topbottom,2021-06-08
0,2021-06-08 02:00:44.607,6f5ffc72-fcd6-488c-b070-868ea9dedc62,person,leftright_topbottom,2021-06-08
1,2021-06-08 02:00:51.696,6f5ffc72-fcd6-488c-b070-868ea9dedc62,person,rightleft_bottomtop,2021-06-08
2,2021-06-08 02:01:00.436,6f5ffc72-fcd6-488c-b070-868ea9dedc62,tvmonitor,rightleft_bottomtop,2021-06-08
...,...,...,...,...,...
44008,2021-09-20 14:54:36.960,0bfc7ed6-04b2-4bec-8645-4044b4874fa7,car,rightleft_bottomtop,2021-09-20
44009,2021-09-20 14:54:38.647,2636efea-ec0c-4810-ab1b-1cc9cb286be8,car,rightleft_bottomtop,2021-09-20
44010,2021-09-20 14:55:43.670,0bfc7ed6-04b2-4bec-8645-4044b4874fa7,car,leftright_topbottom,2021-09-20
44011,2021-09-20 14:55:44.812,97df515f-7f3f-487c-bdb4-20aa1e07ae02,car,leftright_topbottom,2021-09-20
44012,2021-09-20 14:56:58.887,3ef7cf5f-1407-49d3-8a2a-274e6c228133,car,leftright_topbottom,2021-09-20